@import url('https://fonts.googleapis.com/css2?family=Noto+Emoji:wght@400;500&family=Noto+Sans+JP:wght@400;500&family=Ubuntu:ital@0;1&display=swap');

font-family: 'Noto Emoji', 'Ubuntu', 'Noto Sans JP', sans-serif;